h1 {
  margin: 10px auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 10px 10px;
  width: 100%;
  & td {
    padding: 5px;
  }
}
thead tr {
  background-color: rgb(127, 127, 225);
}
table,
th,
td {
  border: 1px solid;
}
#actions {
  display: flex;
  background: grey;
}
.btn {
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
#btn-update {
  background: rgb(89, 89, 227);
}
#btn-delete {
  background: rgb(221, 84, 84);
}
#btn-add {
  margin: 10px 10px;
  background: #08ad2e;
}
#search-div {
  border-top: 1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
  margin: 10px 10px;
  padding: 20px;
  & span {
    padding: 10px;
    font-weight: bold;
  }
  & input {
    padding: 5px;
  }
}
